*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* font-family: "poppins"; */
    outline: none;
    border: none; 
    color: #fff;
}
html{
    overflow-x: hidden;
    font-size: 16px;
}
@media(max-width:1200px){
    html{
        font-size: 18px;
    }
}
@media(max-width:786px){
    html{
        font-size: 18px;
    }
} 
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color:white;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}
.contactus{
    background-color: #0E0D0C;

}
.contactus-d{
    background-color: #0E0D0C;
    background-image: url('../images/form-pattern.png');
    background-position: right;
    
}
.input-field{
    width: 100%;
    color: white;
    background-color: #1B1C1D;
    border: 1px solid #c0baaf1e;
    height: 60px;
    padding-left: 10px;
    text-transform: capitalize;
}
.contact-msg{
    width: 100%; 
    height: 150px;
    resize: none;
    background-color: #1B1C1D;
    border: 1px solid #c0baaf1e;
    color: white;
    padding: 10px;


}
.contact-btn{
    width: 100%; 
    height: 60px;
    background-color: #E4C590;
    color: black;
    border: none;
}
.contact-btn:hover{
    width: 100%; 
    height: 60px;
    background-color: #1B1C1D;
    color: #E4C590;
    border: 2px dotted #E4C590;
    
}
::placeholder{
    color: white;
}
/* ==========contactus detail========= */
.contactus-d{
    background-image: url('../images/form-pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.contact-span{
    color:#E4C590;
    font-style: italic;
 
}
h6{
    font-size: 1.4rem;
    color: #E4C590;
}
@media (max-width: 480px) {
    .location{
        display: none;
    }
}

.ga_head {
    font-size: 1.5rem; /* Default size for smaller screens */
}
@media (min-width: 600px) {
    .ga_head {
        font-size: 3rem; /* Medium screens */
    }
}

@media (min-width: 1024px) {
    .ga_head {
        font-size: 4rem; /* Large screens */
    }
}

@media (min-width: 1440px) {
    .ga_head {
        font-size: 5rem; /* Extra large screens */
    }
}
#map{
    height: 70vh;
}