*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* font-family: "poppins"; */
    outline: none;
    border: none; 
    color: #fff;
}
html{
    overflow-x: hidden;
    font-size: 16px;
}
@media(max-width:1200px){
    html{
        font-size: 18px;
    }
}
@media(max-width:786px){
    html{
        font-size: 18px;
    }
} 
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color:white;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;

}

   /* ==========location bar========== */
   .location{
    position: relative;
    top:0px;
    background-color:#161718;
    color: white; 
}
 .location i{
    padding-left:10%; 
    color: #E4C590;
    transition: all .1s ease;
}

.location i:hover{
   transform: translate(0px,-3px);
}
.location a{
    text-decoration: none;
    color: white;
}
.location .address{
    font-size: .8rem;
}
@media (max-width:769px){
    .location .address{
        font-size: .6rem;
    }
}
.location a{
    position: relative;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    /* letter-spacing: 1px; */
}
.location a:hover{
    color: #E4C590; 
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin: 20px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
        margin: 10px;
    }
    .location{
        display: none;
    }
}

/* ========location bar end======= */
/* navbar  */
.main_nav{ 
  top:0;
   height:80px;
   background-color:#0E0D0C;
}
.sidebar{
   background-color:rgb(12, 11, 11) ;
}
@media(max-width:991px){
   .sidebar{
       background-color:rgba(0, 0, 0, 0.965) ;
       backdrop-filter: blur(10px);
   
   } 
}
.linkscolor{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    font-family: sans-serif;  
    letter-spacing: 1px;
}
.linkscolor:hover{
    color: #E4C590; 
}
.linkscolor::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 80%;
    height: 10px; 
   transform: scale(0,0);
    transition: all .5s ease ;
    
}
.linkscolor:hover::after{
    border-bottom: 4px double #E4C590;
    transform: scale(1,1);
}
.linkscolor-home{
    color: #E4C590;
    font-family:sans-serif; 
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase; 
}
.linkscolor-home:hover{
    color: #E4C590;    
}
.login-btn{
    background-color: #E4C590;
    color: #E4C590;
    padding: 8px 18px;
    font-weight: bold;
    border: 2px solid #E4C590;
    border-radius: 3px;
    text-transform: capitalize;
}
.login-btn:hover{
    color: #E4C590;
    background-color: transparent;
    box-shadow: 5px 5px #E4C590;
}

.login-a{
    text-decoration: none;
    color: black;
}
.login-a:hover{
    color: #E4C590;
}

/* =======navbar end====== */


/* ======footer-styling start====== */
.footer{
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
}
.footer h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-inner{
    backdrop-filter: blur(10px);
    margin-top: 3rem;

}
.gold-clr{
    color: #E4C590;
    font-size: 20px;
}
p{
    font-size: 1.3rem;
}
@media(max-width:1024px){
    p{
        font-size: 0.9rem;
    }
}
@media(max-width:426px){
    p{
        font-size: 0.8rem;
    }
}
.footer-p{
    font-size: 1.1rem;
    color: #d8d0c2a5;
}
/* ======footer-styling End====== */